html {
	--toxic-blue: rgb(39, 248, 255);
	--deep-blue: rgb(0, 34, 63);
	--nice-blue-translucent: rgba(0, 74, 138, 0.8);
	--nice-blue: rgba(0, 74, 138, 1);
	--deep-blue-translucent: rgb(0, 34, 63, 0.5);
}

body {
	/* height: 100%; */
	background: linear-gradient(black 30%, var(--deep-blue));
}

/* .stacked-radial {
	background: radial-gradient(
			circle at 50% 0,
			rgba(255, 0, 0, 0.5),
			rgba(255, 0, 0, 0) 70.71%
		),
		radial-gradient(
			circle at 6.7% 75%,
			rgba(0, 0, 255, 0.5),
			rgba(0, 0, 255, 0) 70.71%
		),
		radial-gradient(
				circle at 93.3% 75%,
				rgba(0, 255, 0, 0.5),
				rgba(0, 255, 0, 0) 70.71%
			)
			beige;
	border-radius: 50%;
} */

.App {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 1400px) {
	.App {
		width: 70%;
	}
}

.main {
	flex: 1 1 0;
	color: white;
	border: 8px double var(--toxic-blue);
}
.main h2 {
	font-size: 5rem;
}
