:root {
	--toxic-blue: rgb(39, 248, 255);
	--deep-blue: rgb(0, 34, 63);
	--nice-blue-translucent: rgba(0, 74, 138, 0.5);
	--nice-blue: rgba(0, 74, 138, 1);
	--deep-blue-translucent: rgb(0, 34, 63, 0.8);

	--for-phone-only: 599px;
	--for-tablet-portrait-up: 600px;
	--for-tablet-landscape-up: 900px;
	--for-desktop-up: 1200px;
	--for-big-desktop-up: 1800px;
}

body {
	background: linear-gradient(black 30%, var(--deep-blue));
}

.App {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 1400px) {
	.App {
		width: 70%;
	}
}

.main {
	flex: 1 1 0;
	color: white;
	border: 8px double var(--toxic-blue);
}
.main h2 {
	font-size: 5rem;
}
