.active-user-info {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.25rem 0 0.25rem 0;
	height: 200px;
	background: linear-gradient(transparent 90%, var(--nice-blue));
	border-bottom: 2px solid var(--nice-blue);
	color: var(--toxic-blue);
}

.active-user-info > * {
	margin: 0 1rem 0 1rem;
}

.active-user-name {
	font-size: 1.5rem;
}

.active-user-name h2 {
	display: inline;
	color: red;
	font-size: 1.5rem;
}

.active-user-status {
	opacity: 70%;
}

.header-bottom-shader {
	height: 2rem;
	background-color: red;
	width: 100%;
	position: absolute;
	top: 100%;
	left: -1rem;
	background: linear-gradient(to bottom, black, transparent);
}
