.Sidebar {
	width: 366px;
	border: 8px double var(--toxic-blue);
	height: 100%;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1rem;
}

.User {
	margin-bottom: 1rem;
	display: flex;
	height: calc(100px);
	background: linear-gradient(rgba(0, 74, 138, 0.8) 10%, rgba(0, 0, 0, 0) 60%);
	/* ебани анимацию хули нет */
}

@keyframes mouseOver {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: red;
	}
}
@keyframes mouseLeave {
	0% {
		background-color: red;
	}
	100% {
		background-color: transparent;
	}
}

.User-pic {
	aspect-ratio: 1/1;
	height: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.User-info {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - 100px);
	align-content: space-between;
	padding-left: 1rem;
}

.User-name h3 {
	font-size: 1.5rem;
	text-align: left;
	color: var(--toxic-blue);
}

.User-last-message {
	display: flex;
	overflow: hidden;
	text-align: left;
	margin-bottom: 0.2rem;
}

/* not small devices  */
@media (max-width: 900px) {
	.Sidebar {
		width: 150px;
	}

	.User {
		flex-direction: column;
		background: linear-gradient(rgba(0, 74, 138, 0.8) 50%, transparent);
	}

	.User-info {
		padding: 0;
	}

	.User-name h3 {
		width: fit-content;
		font-size: 1rem;
	}

	.User-last-message {
		display: none;
	}
}
